body{
	background:white;
}
@media all and(min-width:1240px){
	body{
		width:1250px;
		height:1500px;
		background:#e7e7e7;
	}
}

.thanweb {
    width: 100%;
    margin-top: 150px;
    text-align: center;
    height: 400px;
    list-style-type: none;
}


.thanweb a{
	margin:auto;
	font-size:200%;
	}

.News1 .block{
	float:left;
	width:40%;
	padding-bottom:5%;
}	
.News1 .block img {
	margin-left:20px;
    float: left;
   width:400px;
   height:130px;
}

.block p{
	margin:8%;
}
.HNDD{
	
}

#mainfooter {
	text-align:left;
	color:#e21087;
}
@-webkit-keyframes my {
	 0% { color: #F8CD0A; } 
	 50% { color: #fff;  } 
	 100% { color: #f80a0a;  } 
 }
 @-moz-keyframes my { 
	 0% { color: #F8CD0A;  } 
	 50% { color: #fff;  }
	 100% { color: #f80a0a;  } 
 }
 @-o-keyframes my { 
	 0% { color: #F8CD0A; } 
	 50% { color: #fff; } 
	 100% { color: #f80a0a;  } 
 }
 @keyframes my { 
	 0% { color: #F8CD0A;  } 
	 50% { color: #fff;  }
	 100% { color: #f80a0a;  } 
 } 
 .nhapnhay{
	 
         font-size:30px;
         font-weight:bold;
	 -webkit-animation: my 700ms infinite;
	 -moz-animation: my 700ms infinite; 
	 -o-animation: my 700ms infinite; 
	 animation: my 700ms infinite;
}
#chan
{
	
    width: 100%;
    height: 300px;
    background: #470508;
    margin-top: 900px;


}
#icon {
    position: absolute;
    margin-left: 950px;
    margin-top: -80px;
}
#sanvehot{
    position: absolute;
    width: 60%;
    margin-top: 50%;
    margin-left: 250px;
}

#menu ul{
	list-style-type:none;
	font-weight:bold;
	text-align:center;
}
#menu ul li{
	position:relative;
	
	display:inline-table;
	width:200px;
	height:40px;
	line-height:40px;
}
#menu ul li a{

	text-decoration:none;
	display:block;
	
}
#menu a{
	color:black;
}
#menu ul li a:hover
{
	background:#470508;
	color:#333;
}
#menu ul li >.sub-menu{
	display:none;
	position:absolute;
}
#menu ul li:hover .sub-menu{
	display:block;
}
#menu a:hover{
	color:#00ff00;
}
#footer ul{
	width:100%;
	list-style-type:none;
	text-align:center;
}
#footer ul li{margin-left:3%;}
#footer li{
	padding-top:3%;
	float:left;
	position:relative;
	display:inline-block;
}

#footer a{
	text-decoration:none;
	display:block;
	font-weight:bold;
	color:#d2afb1;
	margin-left:20px;
}
#footer a:hover{
	font-weight:bold;
	background:#00ff00;
	color:black;
	
}
.subtuyendung{

	position:absolute;
}
.subhuongdandatve{

	position:absolute;
}
.subhuongdanthanhtoan{

	position:absolute;
}
.subtaisaonenchonchungtoi{

	position:absolute;
}
#goTop {
    bottom: 200px;
    cursor: pointer;
    display: none;
    height: 35px;
    position: fixed;
    right: 80px;
    width: 44px;
    z-index: 1000;
}